*{
    margin: 0;
    padding: 0;
    border: 0;
    text-align: justify;
    font-family: 'Montserrat', sans-serif;
}

.section{
    width: 98%;
    padding: 1%;
}

#main{
    font-size: 2.5em;
    font-weight: 700;
    padding-bottom: 10px;
    border-radius: 10px 10px 0px 0px ;
}

.game{
    box-shadow: 0 5px 25px 0 rgba(0,0,0,.2);
    border-radius: 5px 5px;
}

.title{
    font-size: 1.75em;
    font-weight: 700;
    padding: 15px;
}

.desc{
    padding: 5px 15px;
    font-size: 1.25em;
}

.media{
    text-align: center;
    width: 100%;
}

#video, #slider{
    width: 80%;
    min-height: 80vh;
}



p{
    line-height: 1.5em;
    padding-bottom: 1.5em;
}

#nav-bar{
    overflow: hidden;
    background-color: #333;
    height: 10vh;
}

#nav-bar ul{
    list-style-type: none;
}

#nav-bar li{
    float: left;
}

#nav-bar li a{
    display: block;
  color: white;
  text-align: center;
  padding: 5vh;
  text-decoration: none;
}

#nav-bar li a:hover{
    background-color: #111;
}